*{
  margin: 0;
  padding: 0;
}

.primary-btn {
  border-radius: 8px;
  background: #FF0000;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 16px 32px;
  text-transform: uppercase;

}

/* main style */
main{
  margin: 50px 140px;
}
/* section Styles  */
section{
  margin-bottom: 120px;
}


/* Promo Banner Section */
.promo-banner{
  height: 700px;
  border-radius: 15px;
  background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100% ) , url('../images/banner_image.png') no-repeat ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.promo-subtitle{
  color: #FFF;
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-weight: 400;
}
.promo-title{
  color: #FFF;
  font-family: 'Merriweather', serif;
  font-size: 72px;
  font-weight: 900;
}

/* CateGory Deals section */
.category-deals{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.discount-offer{
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 88px;
  margin-bottom: 48px;
}
.discount-title{
  color: #F00;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.category{
  color: #070211;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  margin-bottom: 48px;

}
/* welcome banner section */
.welcome-banner {
  height: 500px;
  padding: 130px;
  border-radius: 15px;
  background: 
    linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../images/vector.png') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.welcome-banner-title{
color: #FFF;
font-family: 'Merriweather', serif;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
margin-bottom: 48px;
}
.welcome-banner-summary{
color: rgba(255, 255, 255, 0.80);
font-family: 'Inter', sans-serif;
font-size: 18px;
line-height: 30px;
margin-bottom: 48px;
}
.welcome-btn{
color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 700;
cursor: pointer;
}

/* event section */
.event-section{
  height: 450px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-primary{
  color: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.event-details{
color: #070211;
font-family: 'Inter', sans-serif;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
margin-bottom: 20px;
}
.btn-event{
  margin-top: 64px;
}

/* upcoming offer  */
.upcoming-offer{
  height: 400px;
  display: flex;
  flex-basis: 33%;
  justify-content: space-around;
  align-items: center;
}
.upcoming-offer-name{
 padding-right: 110px;
  width: 33.33%;
}
.offer-name{
color: #F00;
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}
.offer-status{
color: #070211;
font-family: 'Merriweather', serif;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-bottom: 16px;

}
.offer-summary{
color: rgba(7, 2, 17, 0.60);
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
}
.offer-banner{ 
  padding: 20px;
  border-radius: 463px;
  border: 15px solid #F00;
}
.offer-time{
  width: 33.33%;
  padding-left: 110px;
margin-bottom: 16px;

}

.offer-year{
color: #F00;
font-family: 'Inter', sans-serif;
font-size: 48px;
font-weight: 700;
}

.offer-year-image{
  width: 140px;
height: 140px;
margin-top:40px;
}
/* Holiday sales section */
.sales-header{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.sales-subtitle{
color: #070211;
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 500;
}
.sales-title{
  margin: 16px;
color: #070211;
font-family: 'Merriweather', serif;
font-size: 72px;
font-weight: 900;
}
.special-title{
  color: #FF0000;
  font-family: 'Merriweather', serif;
  font-size: 72px;
  font-weight: 900;
}

.sales-summary{
  width: 1060px;
  text-align: center;
color: rgba(7, 2, 17, 0.60);
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 32px; /* 160% */
margin-bottom: 64px;
}

.holiday-banner{
  display: flex;
  justify-content: space-between;

}
.mystry-box{
  border-bottom-left-radius: 15px;
  width: 50%;
  height: 662px;
 background: url('../images/red.png') no-repeat bottom ;
  display: flex;
 align-items: center;
 justify-content: center;
 
}
.mystry-box-img{
  height: 500px;
  margin-left: 40px;
}
.discount-offer-section{
  width: 50%;
  height: 662px;

  background: url('../images/red.png') no-repeat bottom ;
  border-bottom-right-radius: 15px;
}
.sales-banners{
  height: 433px;
  background: url('../images/shopcart1.png') no-repeat  top right ;
  display: flex; 
  justify-content: end;
  align-items: center;
 
}
.discount-img{
  margin-right: 336px;
  height: 210px;
}


/* portfolio section  */

.portfolio-subtitle{
  color: #F00;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 16px;
}

.portfolio-title{
color: #070211;
font-family: 'Merriweather', serif;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-bottom: 24px;
}
.portfolio-summary{
width: 70%;
color: rgba(7, 2, 17, 0.60);
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
margin-bottom: 48px;
}

.portfolio-row{
  width: 100%;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.column{
 width: 33%;
height: 450px;
transition: transform .4s; 
}

.column:hover{
  transform: scale(1.06); 
}

/* NewsLetter Section */

.newsletter{
  height: 500px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.email-icon{
 height: 150px;
 width: 150px;
 margin-bottom: 40px;
}
.newsletter-heading{
color: #070211;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-bottom: 24px;
}

.newsletter-summary{
width: 900px;
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
margin-bottom: 48px;
}
.newsletter-subscribe{
display: inline-flex;
}
.newsletter-input{
border: none;
background: #FFF;
width: 450px;
height: 40px;
padding: 10px 40px;
border-radius: 50px 0px 0px 50px;
}
.newsletter-btn{
  border: none;
  color: #fff;
  width: 210px;
  height: 60px;
  
  border-radius: 0px 50px 50px 0px;
  background: #F00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  
}
input:focus {
  outline: none; 
}

/* footer */

.footer{
  height: 400px;
  padding: 120px 140px;
  background: #070211;
}

.contact-address{
display: flex;
justify-content: space-between;
margin-bottom: 50px;
}
   
.divider{
  border: 1px solid gray;
  width: 100%;
  opacity: 10%;
}
.address{
  color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 40px;
}
.contact-info{
color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 300;
line-height: 40px;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 48px 0px;
}

.copy-rights{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
}